version: "3.9"

services:
  bot:
    image: "ghcr.io/dawnbrandbots/bastion-bot:${DOCKER_TAG:-latest}"
    environment:
      DEBUG: "*"
      DISCORD_TOKEN:
      API_URL:
      FTP_URL:
      DISCORD_TOTAL_SHARDS: auto
      BOT_LOGGER_WEBHOOK: "${BOT_LOGGER_WEBHOOK:-}"
      BOT_PRESENCE: "${BOT_PRESENCE:-}"
      BOT_MOTD: "${BOT_MOTD:-}"
    volumes:
      - ${BOT_BIND_MOUNT}:/var/local/bastion
    command: /var/local/bastion
    logging:
      driver: "${DOCKER_LOG_DRIVER:-journald}"
    deploy:
      replicas: 1
      update_config:
        order: start-first
      placement:
        constraints:
          - node.role==manager
    # Compose-only fields
    build: .
    restart: unless-stopped
