name: Compile and test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
permissions:
  security-events: write
jobs:
  test:
    runs-on: ubuntu-latest
    if: >-
      !(
        contains(github.event.head_commit.message, '[skip test]') ||
        contains(github.event.head_commit.message, '[test skip]')
      )
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
      - run: yarn
      - run: yarn build
      - run: yarn test --verbose
      - uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - uses: actions/checkout@v4
        with:
          repository: xyj-3/sarif-js-sdk
          ref: e23ca2d8dc6d70a7959a2098eba8ac332de907bb
          path: sarif-js-sdk
      - name: Install ESLint formatter
        run: yarn add file:sarif-js-sdk/packages/eslint-formatter-sarif
      - name: Run ESLint with formatter
        run: yarn lint --format @microsoft/eslint-formatter-sarif --output-file eslint-results.sarif
      - name: Upload ESLint result to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: eslint-results.sarif
          wait-for-processing: true
