name: Compile and test
on:
  workflow_call:
  pull_request:
    branches: [master]
permissions:
  security-events: write
jobs:
  test:
    runs-on: ubuntu-latest
    if: >-
      !(
        contains(github.event.head_commit.message, '[skip test]') ||
        contains(github.event.head_commit.message, '[test skip]')
      )
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: yarn
      - run: yarn
      - run: yarn build
      - run: yarn test --verbose
      - uses: codecov/codecov-action@v5
        if: success() || failure()
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unit
      - run: yarn lint -f @microsoft/eslint-formatter-sarif -o eslint-results.sarif
        env:
          SARIF_ESLINT_IGNORE_SUPPRESSED: "true"
        continue-on-error: true
      - uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: eslint-results.sarif
